{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}Baulicht{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h2>Deine Nachricht</h2>
            <hr />
            <form class="form-horizontal" role="form" action="">
                {{ form|bootstrap_horizontal}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}