{% extends "base.html" %}

{% load i18n %}

{% block title %}Baulicht{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Deine Nachricht über Augsburg!</h1>
        <p class="lead">Hast du schon immer das Bedürfnis gehabt deine Gedankengänge ganz Augsburg mitzuteilen? Hast du
        einen weltbewegenden Gedanken, aber keine Zeitung, um ihn der Welt nahe zu legen? Dann steig jetzt ein ins
        Baulicht! Mit dieser Webseite kannst du deine Texte auf einem am Hotelturm angebrachten Morselicht darstellen
        und ganz Datschiburg empfängt deine Wellen vom Maiskolben!</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'messages:create' %}" role="button">Sende deine Nachricht</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Open Source</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Github</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Python, Qt und C++</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>dBus</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>REST API</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Webinterface</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
      <div class="row marketing">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2651.056641656906!2d10.885823100000005!3d48.35943524999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ea2b22e40b4e3%3A0x31abfbdad4f78385!2sAugsburger+Hotelturm!5e0!3m2!1sde!2sde!4v1400844756587" width="600" height="450" frameborder="0" style="margin-left: 5%; border:0"></iframe>
      </div>
{% endblock %}
