{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}Baulicht{% endblock %}

{% block content %}
    <h2>Warteschlange</h2>
    <p>Diese Nachrichten warten auf ihre Freischaltung.</p>

<table class="table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Nachricht</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>
        {% if object.name %}
            {{ object.name }}
        {% else %}
            Anonym
        {% endif %}
        </td>
        <td>{{ object.email }}</td>
        <td>{{ object.text }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>Es warten keine Nachrichten auf ihre Freischaltung.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
